/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html.gurustump {
	height:100%;
	margin-top:0 !important;
	overflow-x:hidden;
	background:$white;
	&.mobile-nav-active {
		body {
			overflow:hidden;
			height:100%;
			header.header, #inner-header {
				height:100%;
			}
			#inner-header {
				position:relative;
				overflow-y:auto;
				overflow-x:hidden;
			}
		}
	}
	/*&:after {
		content:"";
		height:100%;
		width:100%;
		background:url(../images/bg-body.png);
		opacity:.6;
		position:absolute;
		top:0;
		left:0;
	}*/
}

body {
	height:100%;
	font-family: $roboto;
	font-size:16px;
	line-height:1.4;
	color: $text-color;
	background-color:$white;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	position:relative;
	z-index:1;
	height:100%;
	#content {
		background:$white;
		min-height:100%;
		padding:120px 0 30px;
		@include box-sizing;
		margin-bottom:200px;
		position:relative;
		z-index:1;
		box-shadow:0 5px 10px rgba($black, .1);
		/* stupid spacer for iphones */
		&:after {
			content:"";
			position:absolute;
			width:1px;
			height:200px;
			left:0;
			bottom:-200px;
		}
	}
}
#main {
}
.wrap {
	padding:0 15px;
	margin:0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	border-bottom:1px solid rgba($link-color, .3); 
	text-decoration:none;
	@include transition(color $trspeed);

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	text-rendering: optimizelegibility;
	font-weight: 700;
	font-family:$headingfont;
	text-transform: uppercase;
	letter-spacing:3px;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.1em;
}

h2, .h2 {
	font-size:2em;
	line-height:1.1em;
	margin-bottom:0.375em;
}

h3, .h3 {
	font-size:1.75em;
	line-height:1.1em;
}

h4, .h4 {
	font-size:1.4em;
}

h5, .h5, h6, .h6 {
	font-size:1.2em;
}
h6, .h6 {
}

/*********************
HEADER STYLES
*********************/
.header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:120px;
	z-index:8999;
	@include transition(background-color $trspeed, height $trspeed);
	html.scrolled body & {
		background-color:rgba($white, .98);
		height:80px;
		@include box-shadow(0 2px 5px rgba($black, .1));
	}
	#inner-header {
		height:100%;
	}
}

#logo {
	height:100%;
	padding:10px 0;
	@include box-sizing;
	a {
		text-indent:-9999px;
		display:block;
		height:100%;
		max-height:100px;
		color:$white;
		border-bottom:0;
		background:url(../images/superfun-2017-logo-800-autumn.png) no-repeat center center / contain;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.main-nav-container {
	position:absolute;
	left:110%;
	top:0;
	width:100%;
	background:$white;
	height:100%;
	@include transition(left $trspeed);
	&.active {
		left:0;
	}
	& > h5 {
		height:60px;
		line-height:60px;
		text-align:center;
		margin-bottom:0;
	}
}
.main-nav {
	border-bottom: 0;
	margin: 0;
	overflow:auto;
	z-index:9998;
	background:rgba($white, .9);
	border-top:1px solid rgba($black, .1);
	li {
		a {
			white-space:nowrap;
			display:block;
			color:$orange;
			text-decoration: none;
			font-family:$headingfont;
			font-size:16px;
			text-transform:uppercase;
			padding:0 20px;
			height:60px;
			line-height:60px;
			border-bottom:1px solid rgba($black, .1);
			background:rgba($white,.04);
		}
		li {
			a {
				background:none;
				height:45px;
				line-height:45px;
				padding:0 10px;
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */
.trigger-nav {
	height:50px;
	margin-right:8px;
	color:$white;
	position:fixed;
	padding:13px;
	top:0;
	right:-4px;
	font-size:17px;
	z-index:9999;
	border-bottom:0;
	outline:none !important;
	@include box-sizing;
	@include transition(top $trspeedquick);
	&.active {
		@include box-sizing;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	.ic {
		@include box-sizing;
		padding-top:5px;
		@include transition(all $trspeedquick);
		& > span {
			background:$orange;
			@include border-radius(4px);
			display:block;
			height:4px;
			margin-bottom:3px;
			@include transition(all $trspeedquick);
			width:24px;
		}
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(8px));
				}
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

.section-heading {
	text-align:center;
	padding-bottom:5px;
	border-bottom:3px dotted rgba($brown, .3);
}
.events-list {
	& > li {
		margin-bottom:30px;
		h3 {
			margin-bottom:5px;
			a {
				border-bottom:0;
			}
		}
		.event-date {
			border-top:1px dotted lighten($purple, 40%);
			border-bottom:1px dotted lighten($purple, 40%);
			text-transform:uppercase;
			font-size:14px;
			font-weight:bold;
			color:$brown;
			font-family:$buttonfont;
			padding:3px 0 2px;
			margin-bottom:3px;
		}
		.event-venue {
			font-size:13px;
			margin-bottom:20px;
			font-family:$buttonfont;
		}
	}
}
.hentry {
	header {
		padding-bottom:5px;
		border-bottom:3px dotted rgba($brown, .3);
	}
	footer {
		border-top:3px dotted rgba($brown, .3);

		p {
			margin: 0;
		}
	}

} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
	text-align:center;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	padding-top:1.5em;

	p {
		margin:0 0 1.5em;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
CONTACT FORM STYLES
******************************************************************/
.wpcf7-form {
	max-width:$fieldmaxwidth;
	margin:0 auto;
}

/******************************************************************
THE EVENT CALENDAR STYLES
******************************************************************/
#tribe-events {
	.tribe-events-button {
		@include btn($purple, small, lighten);
	}
	h1.tribe-events-single-event-title {
		@extend .h1;
		margin-bottom:5px;
	}
	.tribe-events-schedule {
		background:none;
		border:0;
		padding:0;
		margin:0;
		h2 {
			font-size:18px;
			font-family:$buttonfont;
			font-weight:bold;
			color:$brown;
			text-transform:uppercase;
			border-top:1px dotted lighten($purple, 40%);
			border-bottom:1px dotted lighten($purple, 40%);
			padding:4px 0;
		}
	}
	.tribe-events-tooltip {
		h4.entry-title {
			color:$orange;
		}
	}
	.tribe-events-calendar {
		td.mobile-active, td.mobile-active:hover, td.mobile-active div {
			background-color:$yellow-orange;
		}
	}
}

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	border-top:3px dotted rgba($brown, .3);
	padding-top:30px;
}
.widgettitle {}
.widget {
	ul {
		li {
			&:first-child {}
			&:last-child {}
			a {}
			/* deep nesting */
			ul {}
		}
	}
}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}
#searchform {
	margin:0 auto;
	max-width:$fieldmaxwidth;
}
.search-input-container {
	position:relative;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear:both;
	color:$brown;
	overflow:hidden;
	height:200px;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:-1;
	@include box-sizing;
	&:after {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		opacity:.25;
		background:url(../images/superfun-2017-logo-800-autumn.png) no-repeat center center / 300px;
	}
	#inner-footer {
		@include v-center;
		z-index:1;
		text-align:center;
		p {
			text-transform:uppercase;
			font-family:$headingfont;
			font-weight:bold;
			font-size:.9em;
			letter-spacing:3px;
			margin:0;
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}


/******************************************
INDIVIDUAL PAGES
******************************************/

/******************************************
HOME PAGE
******************************************/
@keyframes scroll-notice {
	0% { @include transform(translateY(0)); }
	78% { @include transform(translateY(0)); }
	82% { @include transform(translateY(-20px)); }
	86% { @include transform(translateY(10px)); }
	90% { @include transform(translateY(-10px)); }
	94% { @include transform(translateY(5px)); }
	100% { @include transform(translateY(0)); }
}
body.home {
	.header {
		height:100%;
		background-color:rgba($white,.1);
	}
	#logo {
		a {
			max-height:none;
			max-width:700px;
			margin:0 auto;
			pointer-events:none;
		}
	}
	.subheader {
		height:100%;
		position:relative;
		background:$white;
		.scroll-subheader {
			position:absolute;
			bottom:10px;
			right:12px;
			color:$white;
			text-shadow:0 0 1px $black;
			font-family:$buttonfont;
			font-weight:bold;
			font-size:10px;
			text-transform:uppercase;
			z-index:9000;
			@include transition(opacity $trspeed);
			@include tri(bottom, 15px, 20px, $white, 0 auto, block, none, none);
			border-bottom:0;
			animation-name:scroll-notice;
			animation-duration:5s;
			animation-delay:2s;
			animation-iteration-count:infinite;
			animation-timing-function: ease-in-out;
		}
		.rotating-gallery {
			& > li {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background-repeat:no-repeat;
				background-size:cover;
				background-position:50% 50%;
				background-color:$white;
				opacity:0;
				@include transition(opacity 1s);
				&.active {
					opacity:1;
				}
			}
		}
	}
	#container {
		#content {
			padding-top:30px;
			min-height:0;
		}
	}
	.trigger-nav {
		.ic {
			& > span {
				@include box-shadow(0 0 3px $black);
			}
		}
		&.active {
			.ic {
				& > span {
					@include box-shadow(none);
				}
			}
		}
	}
	html.scrolled & {
		.subheader {
			.scroll-subheader {
				opacity:0;
			}
		}
		.trigger-nav {
			.ic {
				& > span {
					@include box-shadow(0 0 3px $white);
				}
			}
		}
	}
}

body.home, body.page-template-page-events {
	.hentry {
		margin-bottom:20px;
	}
}


/******************************************
ADMIN BAR CUSTOMIZATION
******************************************/

html body {
	div#wpadminbar {
		border-bottom:1px solid #444;
		z-index:9999 !important;
		& > .wpadminbar-activator {
			display:block;
			position:absolute;
			left:0;
			bottom:-15px;
			height:15px;
			width:30px;
			text-indent:-9999px;
			@include box-sizing;
			background:#23282d;
			/*@include css-gradient($from: #23282d, $to: #353d44, $vstart:"top", $vend:"bottom");*/
			@include border-radius(0 0 5px 5px);
			border:1px solid #444;
			border-top:0;
			border-left-color:#333;
			cursor:pointer;
			&:after {
				content:"";
				border-style:solid;
				border-color:#555 transparent;
				border-width:5px 5px 0;
				position:absolute;
				margin-left:-5px;
				left:50%;
				top:5px;
			}
		}
		&.wpadminbar-shown {
			& > .wpadminbar-activator {
				display:none;
			}
		}
		&.hidden {
			border-bottom:2px solid transparent;
			@include transform(translateY(-97%));
			@include transition(transform, 2s);
		}
	}
	&.hide-admin-bar {
		div#wpadminbar {
			display:none;
		}
	}
}